

body {
  background: #fff;
  color: #545454;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0 auto;

}
a{
  text-decoration: none;
}

p{
  margin: 0 auto;
}
.wrapper {
  padding-top: 50px;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1200px;
  height:100vh;
}
.header {
  background-color: black;
  height: 100px;
  width: 100%;
  display: flex;
}
.logo {
  align-items:center;
  display: flex;
  height: 100%;
  margin-left: 25px;
}
.side-bar{
  margin-left: 40px;
  align-items:center;
  display: flex;
}
.button-header{
  color: white;
  font-size: 20px;
  margin-left: 10px;
}
.button-header:hover{
  text-decoration: underline;
}
.search{
  margin-left: 60px;
  display: flex;
  align-items:center;
}
.search1{
  display: flex;
  height: 30px;
  width: 150px;
  padding-left: 10px;
  background-color: white;
  align-items: center;
  font-size: 10px;
  border: 0;
}
.search2 {
  height: 32px;
  width: 30px;
  background-image:url("https://img2.freepng.ru/20180326/ldw/kisspng-google-search-keyword-research-company-search-5ab933f01d0dc5.792598231522086896119.jpg");
  background-size: contain;
}
.main{
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;

}
.content{
  justify-content: center;
  box-sizing: border-box;
  width: 88%;
  background-color: white;
}
.cont-lot{
  justify-content: center;
  box-sizing: border-box;
  flex-wrap:wrap ;
  display: flex;
  width: 100%;
  background-color: white;
}
.cont-name{
  display: flex;
  justify-content: center;
  background-color: #EEEEEC;
  text-align: center;
  color: black;
  width: 200px;
  height: 30px;
  align-items: center;
  margin-bottom: 20px;

}
.cont-profile{
  display: flex;
}
.profile{
  display: flex;
}
.profile-info{
  height: 15%;
  padding-left: 30px;
}
.prof-site{
  font-weight: bold;
  color: black;
  font-size: 16px;
  padding-top: 5px;
}
.prof-name{
  font-size: 16px;
  padding-top: 5px;
}
.prof-price{
  font-weight: bold;
  color: black;
  font-size: 16px;
  padding-top: 5px;
}
.prof-description{
  padding-top: 20px;
  width: 90%;
}
.button-buy{
  margin-top: 50px;
  display: flex;
  color: white;
  background-color: black;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 30px;
  border-radius: 10px;
}
.button-buy:hover {
  text-decoration: underline;
}
.lot{
  background-color: white;
  height: 500px;
  width: 25%;
  display: flex;
  padding-right: 35px;
  box-sizing: border-box;
  flex-direction: column;
}
.lot img{
  height: 85%;
  width: 100%;
  object-fit: cover;
}
.lot-info{
  height: 15%;
  padding-right: 20px;
}
.lotsite{
  font-weight: bold;
  color: black;
  font-size: 14px;
}
.lot-name{
  font-size: 14px;
}
.lot-name:hover{
  text-decoration: underline;
}
.lot-price{
  font-weight: bold;
  color: black;
  font-size: 14px;
}

.katalog{
  width: 12%;
  background-color: white;
  display: block;
  justify-content: center;

}
.menu{
  display: block;
}

.name-menu{
  display: flex;
  justify-content: center;
  background-color: #EEEEEC;
  text-align: center;
  color: black;
  height: 30px;
  align-items: center;
  margin-bottom: 20px;


}
.button-menu{
  display: flex;
  height: 30px;
  background-color: black;
  margin-top: 2px;
  padding-left:10px;
  color: white;
  align-items: center;
}
.button-menu:hover{
  text-decoration:underline;
}
.footer {
  background-color: black;
  height: 100px;
  width: 100%;
  display: flex;
}
.footer-logo{
  align-items:center;
  display: flex;
  height: 100%;
  margin-left: 25px;
}

.footer-info{
  padding-top: 20px;
  padding-left: 50px;
  color: white;
  align-items:center;
  width: 45%;
  font-size: 14px;
}
.footer-email{

  color: white;
  padding-top: 40px;
  color: white;
  align-items:center;
  font-size: 14px;
}
.footer-email:hover{
  text-decoration: underline;
}



.cart{
  margin-left: 60px;
  display: flex;
  align-items: center;
  background-color: black;

}
.cart1{
  height: 30px;
  width: 30px;
  background-image:url("https://ralar.ru/local/templates/main/img/u12.png");
  background-size: contain;
}
.cart2{
  padding-left: 10px;
  color: white;
}
.cart2:hover {
  text-decoration: underline;
}
.cart-profile{
  width: 100%;
}
.cart-img{
  margin-left: 30px;
  width: 150px;
}
.cart-img img{
  height: 50%;
  width: 50%;
  object-fit: cover;
}
.cart-info{
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  margin-top: 50px;
  display: flex;
  justify-content: flex-end;
  align-items:center;
  height: 200px;
  width: 100%;
  margin-right: 60px;
}
.cart-info2{
  width: 200px;
  margin-right: 60px;


}
.cart-cena{
  width: 120px;
  margin-left: 20px;
  text-align: center;
}
.cart-kol{
  width: 120px;
  margin-left: 20px;
  text-align: center;
  display: flex;
}
.cart-kol1 {
  width: 33%;
}
.cart-kol1 img {
  margin-left: 5px;
  height: 50%;
  width: 50%;
  object-fit: cover;
}
.cart-kol2 {
  width: 33%;


}
.cart-kol3 {
  width: 33%;
}
.cart-kol3 img  {
  margin-right: 5px;
  height: 50%;
  width: 50%;
  object-fit: cover;
}

.cart-sum{
  width: 120px;
  margin-left: 20px;
  text-align: center;
}
.cart-del{
  width: 120px;
  text-align: center;
  margin-right: 40px;
  margin-left: 20px;
}
.cart-del img  {
  height: 15%;
  width: 15%;
  object-fit: cover;
}
.cart-del img:hover {
  background-color: black;
}
.cart-itog{
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.cart-itog1{
  display: flex;
  background-color: black;
  color: white;
  width: 120px;
  justify-content: center;
  margin-right: 50px;
}
.cart-itog2{
  font-weight: bold;
  margin-right: 50px;
}

.cart-anketa1_dost{
  display: flex;
  margin-top: 50px;
}
.cart-anketa1__dostavka1{
  display: flex;
  background-color: black;
  color: white;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
}
.cart-anketa1__dostavka2{
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.cart-anketa1__dostavka3{
  margin-top: 10px;
  margin-left: 50px ;
  width: 200px;
}
.cart-anketa1__dostavka4 {
  display: flex;
}
.cart-anketa1-tel {
  margin-left: 50px;
}
.cart-anketa1__dostavka4 input{
  margin-left: 20px;
  margin-bottom: 50px;
}

.cart-button{
  display: flex;
  color: white;
  background-color: black;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  margin: 0 auto;
  border-radius: 10px;
  margin-bottom: 50px;
}

.cart-button:hover{
  text-decoration: underline;
}


.name-table{
  display: flex;
  justify-content: flex-end;
  margin-right: 40px;
}
.table-header{
  margin-left: 20px;
  background-color: black;
  color: white ;
  width: 120px;
  text-align: center;

}
.cont-dostavka{
  font-size: 13px;
  margin-bottom: 30px;
  color: black;
}
.cont-oplata{
  font-size: 14px;
  margin-bottom: 70px;
}
.diler{
  display: flex;
  margin-left: 40px;
  width: 45%;
}
.diler img {
  height: 150px;
  width: 150px;
  object-fit: contain;
}

.diler-info{
  padding-left: 40px;
  padding-top: 30px;

}
.diler-city{
  font-weight: bold;
}

.cont-dilers{
  box-sizing: border-box;
  flex-wrap:wrap ;
  display: flex;
  width: 100%;
  background-color: white;
}

.kotmag{
  margin-top: 50px;
  display: flex;
}

.contact-mag{
  font-weight: bold;
  justify-content: center;
}

.contact-info{
  margin-left: 50px;
}

.karta{
  margin-top: 40px;
  display: flex;
  width: 900px;
  height: 550px;
  justify-content: center;
}

.karta img {
  height: 70%;
  width: 70%;
}




