{% extends 'client/layout/layout.twig' %}
{% block content %}
  <div class="cont-name">Способы оплаты</div>
  <div class="kotmag">
    <div class="contact-mag">Интернет-магазин:</div>
    <div class="contact-info">
      <p>coderedorder@gmail.com</p>
      <p>Пн-Пт: 11:00-21:00</p>
      <p>+7 (967) 288-39-44</p>
    </div>
  </div>
  <div class="kotmag">
    <div class="contact-mag">Магазин в Москве:</div>
    <div class="contact-info">
      <p>метро Маяковская</p>
      <p>1-я Тверская-Ямская, 13</p>
      <p>Ежедневно, 11:00-21:00</p>
      <p>+7 (499) 251-52-04</p>
    </div>
  </div>

  <div class="karta">
    <img src="/assets/img/karta.jpg" alt="">
  </div>
{% endblock %}
