{% extends 'client/layout/layout.twig' %}
{% block content %}
  <div class="cont-name">Способы оплаты</div>
  <div class="cont-dilers">
    <div class="diler">
      <img src="https://codered.su/files/uploads/_sportx.jpg" alt="">
      <div class="diler-info">
        <div class="diler-city">Орел</div>
        <div class="diler-street">Тургенева, 4</div>
        <div class="diler-nomber">8 (929) 814 9990</div>
      </div>
    </div>
    <div class="diler">
      <img src="https://codered.su/files/uploads/_sportx.jpg" alt="">
      <div class="diler-info">
        <div class="diler-city">Орел</div>
        <div class="diler-street">Тургенева, 4</div>
        <div class="diler-nomber">8 (929) 814 9990</div>
      </div>
    </div>
    <div class="diler">
      <img src="https://codered.su/files/uploads/_sportx.jpg" alt="">
      <div class="diler-info">
        <div class="diler-city">Орел</div>
        <div class="diler-street">Тургенева, 4</div>
        <div class="diler-nomber">8 (929) 814 9990</div>
      </div>
    </div>
    <div class="diler">
      <img src="https://codered.su/files/uploads/_sportx.jpg" alt="">
      <div class="diler-info">
        <div class="diler-city">Орел</div>
        <div class="diler-street">Тургенева, 4</div>
        <div class="diler-nomber">8 (929) 814 9990</div>
      </div>
    </div>
    <div class="diler">
      <img src="https://codered.su/files/uploads/_sportx.jpg" alt="">
      <div class="diler-info">
        <div class="diler-city">Орел</div>
        <div class="diler-street">Тургенева, 4</div>
        <div class="diler-nomber">8 (929) 814 9990</div>
      </div>
    </div>
    <div class="diler">
      <img src="https://codered.su/files/uploads/_sportx.jpg" alt="">
      <div class="diler-info">
        <div class="diler-city">Орел</div>
        <div class="diler-street">Тургенева, 4</div>
        <div class="diler-nomber">8 (929) 814 9990</div>
      </div>
    </div>
    <div class="diler">
      <img src="https://codered.su/files/uploads/_sportx.jpg" alt="">
      <div class="diler-info">
        <div class="diler-city">Орел</div>
        <div class="diler-street">Тургенева, 4</div>
        <div class="diler-nomber">8 (929) 814 9990</div>
      </div>
    </div>
    <div class="diler">
      <img src="https://codered.su/files/uploads/_sportx.jpg" alt="">
      <div class="diler-info">
        <div class="diler-city">Орел</div>
        <div class="diler-street">Тургенева, 4</div>
        <div class="diler-nomber">8 (929) 814 9990</div>
      </div>
    </div>
  </div>
{% endblock %}
