{% extends 'client/layout/layout.twig' %}
{% block content %}
  <div class="cont-name">Доставка</div>
  <div class="cont-dostavka">
    <h4>Курьерская доставка по Москве</h4>
    <p><b>Стоимость доставки:</b> 400 руб.</p>
    <p><b>Время доставки:</b> Курьерская доставка осуществляется в течение трех дней со дня оформления заказа.</p>
    <p><b>Регион доставки:</b> г. Москва. доставка за МКАД оплачивается отдельно (25р/км.)</p>
    <p><b>Время доставки:</b> с 11-00 до 21-00, без выходных.</p>
    <p><b>Время примерки:</b> 15-20 мин. Затем Вы оплачиваете только те вещи, которые выбрали.</p>
    <p>До оплаты товара Вы можете отказаться от заказа частично или полностью.</p><br>


    <p><b>Вызов курьера для возврата товара (только по г. Москве и 10 км от МКАД)</b></p>
    <p><b>Возврат (по нашей вине - дефект, брак и т.д.):</b> БЕСПЛАТНО.</p>
    <p><b>Обмен (по желанию покупателя - не подошёл размер, цвет и т.д.):</b> 400 рублей.</p>


    <p><h4>Бесплатная доставка по России</h4></p>
    <p><b>Стоимость доставки:</b> БЕСПЛАТНО</p>
    <p><b>Отправка:</b> ускоренная бандеролью 1 класса, во все регионы России.</p><br>

    <p><b>Отслеживание посылки:</b> трек код предоставяется через 3-5 дней после отправки заказа на эл. почту.</p>
    <p><b>Время доставки:</b> до 14 дней, в зависимости от удалённости адресата от г. Москвы</p><br>

    <p><b>Возврат товара:</b> Возврат осуществляется на обратный адрес, указаный на почтовом пакете.</p><br>


    <p><h4>Курьерская доставка EMS по всему миру</h4></p>
    <p><b>Стоимость доставки:</b> 30$</p>
    <p><b>Время доставки:</b> Рассчитывается автоматически.</p>
    <p>Удобный и быстрый способ доставки. Посылка доставляется на ваш адрес.</p>
  </div>
{% endblock %}
