{% extends 'client/layout/layout.twig' %}
{% block content %}
  <div class="cont-name">Способы оплаты</div>
  <div class="cont-oplata">
    <h5>Наличными курьеру</h5>
    <p>Вы можете оплатить заказ курьеру. Курьерская доставка осуществляется по Москве в течение трех дней после
      обработки заказа.</p>

    <p><h5>Яндекс.Деньги</h5></p>
    <p>Яндекс.Деньги — доступный и безопасный способ платить за товары и услуги через интернет.</p>

    <p><h5>Банковская карта</h5></p>
    <p>Оплата на карту Тинькофф.</p>

    <p><h5>Оплатить через QIWI</h5></p>
    <p>QIWI — удобный сервис для оплаты повседневных услуг.</p>

    <p><h5>ROBOKASSA</h5></p>
    <p>ROBOKASSA – сервис для организации приема платежей на сайте, интернет магазине и социальных сетях. Прием
      платежей осуществляется при минимальных комиссиях.</p>
  </div>
{% endblock %}
