<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
    <figure>
        <figcaption>Listen to the T-Rex:</figcaption>
        <audio
                controls
                src="http://localhost/proxy-file?url=http://rocknation.su/upload/mp3/Dream%20Theater/1995%20-%20A%20Change%20Of%20Seasons%20(EP)/01.%20A%20Change%20Of%20Seasons.mp3">
            Your browser does not support the
            <code>audio</code> element.
        </audio>
    </figure>
    </body>
</html>
